<h3> Add user </h3>

<div class="col-12">
    <form>
        <div class="col-6">
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="Username">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" for="exampleCheck1">Active</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Create new user</button>
    </form>
</div>