<h3> Active User(s) </h3>
<div class="col-12 offset-1">
    <ul class="list-group">
        <ng-container *ngFor="let user of activeUsers">
            <li class="list-group-item" *ngIf="user.active">
                <div class="row col-12" style='background-color: white; width: 30em;'>
                    <div class="col-4"> {{ user.name }} </div>
                    <div class="col-4"> Is Active : {{ user.active }} </div>
                    <div class="col-4"> <button class="btn btn-danger" (click)="setToInactive(user.name)"> Inactivate </button> </div>
                </div>
            </li>
        </ng-container>
    </ul>
</div>